<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="{% static 'blog/third_party/bootstrap/css/bootstrap.css' %}">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    {% block head%}{% endblock head%}
    <title>LXDPP v1.0 || {% block title %}
        {% endblock title %}</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:  rgba(9, 9, 44, 0.705);">
            <a class="navbar-brand" href="/">Project_B</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item {% block homeNav %}
            {% endblock homeNav %}">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item {% block blogNav %}
            {% endblock blogNav %}">
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="nav-item {% block portfolioNav %}
            {% endblock portfolioNav %}">
                        <a class="nav-link" href="http://127.0.0.1:8000/#portfolio">Portfolio</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item {% block dashboardNav %}
            {% endblock dashboardNav %}">
                        <a class="nav-link" href="{% url 'dashboard' %}">Manage</a>
                    </li>
                    <li class="nav-item {% block logoutNav %}
            {% endblock logoutNav %}">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item {% block loginNav %}
            {% endblock loginNav %}">
                        <a class="nav-link btn btn-outline-primary" href="{% url 'login' %}">Log-In</a>
                    </li>
                    {% endif %}
                    {% block navbar_list %}
                    {% endblock navbar_list %}

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 mt-4">
                {% block message %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    {{message}} <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}


                {% endblock message %}
            </div>
        </div>
        <div class="row mb-5 pb-2">
            {% block side %}
            {% endblock side %}
            {% block content %}
            {% endblock content %}
        </div>
    </div>


    <footer class="footer fixed-bottom" style='
        color: #999;
        background-color: rgba(9, 9, 44, 0.883);
        text-align: center;
        border-top: .1rem solid #2d45cfe7;
    '>

        <div id="copyr" class='mt-2 mb-1'> © Lalit Dumka 2004-2020</div>
        <p class='mb-1 mt-0 py-0'>
            <a href="#">Back to top</a>
        </p>
    </footer>
{% block extrajs %}
{% endblock extrajs %}
    <!--<script src="{% static 'blog/third_party/bootstrap/jquery.slim.min.js' %}"></script>-->
    <!--<script src="{% static 'blog/third_party/bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>